*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシック",
    "ヒラギノ丸ゴ ProN", "serif", "YuGothic", "Yu Gothic";
  /*min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(../src/img/test.png);*/
}

#main {
  display: flex;
  flex-direction: row;
}

.container {
  color: #2b2b2b;
  /* padding: 20px; */
  font-size: 0; /*要素同士をぴったりくっつけるための処理、不要な改行を消す*/
  
  width: 100%;
  height: 100%;
  /* border: medium solid #4682b4; デバッグ用 */
}

p {
  font-size: 12px;
}

h1 {
  font-size: 25px;
  position: fixed;
  top: 0px;
  left: 20px;
  color: #052c42;
  margin: 10px 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 12px;
  margin: 10px 0;
}

li {
  font-size: 10px;
  list-style: none;
  margin-right: 5px;
  display: inline-block;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}


.leftclum-wrapper,
.centerclum-wrapper,
.rightclum-wrapper {
  position: absolute;
  /* height: 100vh; */
  margin: 0;
  
  /* border: 1px solid #2b2b2b; */
}

.centerclum-wrapper .container{
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}



.rightclum-wrapper, .leftclum-wrapper{
  width: 200px;
  height: 30px;
  text-align: left;
  top: 0;
  z-index: 2;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.rightclum-wrapper{
  background: #1278fd;
  right: 0;
}

.leftclum-wrapper{
  background: #f0304d;
  right: 200px;
}

.no-active-clum.rightclum-wrapper:hover,
.no-active-clum.leftclum-wrapper:hover{
  /* opacity: 0.5; */
  transition: all 200ms 0s ease;
}
.no-active-clum.centerclum-wrapper:hover {
  opacity: 1;
  /* border: 2px solid #2b2b2b; */
  transition: all 200ms 0s ease;
}
.no-active-clum.centerclum-wrapper {
  opacity: 0.2;
}
.no-active-clum.rightclum-wrapper:hover {
  background-color: rgb(164, 196, 255);
}
.no-active-clum.leftclum-wrapper:hover {
  background-color: rgb(255, 204, 204);
}


/* .no-active-clum.centerclum-wrapper:hover .container {
  color:#cccccc;
  transition: all 200ms 0s ease;
} */


.centerclum-wrapper {
  left: 0;
  width: 100%;
  height: calc(100% - 30px);
  background: #ffffff;
  /* border: 2px solid #2b2b2b; */
}

.MoveViewPage {
  position: fixed;
  height: 30px;
  width: 100%;
  /* height: 40px; */
  background-color: #203744;
  bottom: 0px;
  z-index: 2;

  transition: all 100ms 0s ease;
}

.MoveViewPage:hover {
  cursor: pointer;
  background: #2d5b75;
}

.MoveViewPage .arow_box {
  width: 40px;
} 

.MoveViewPage img {
  height: 60%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(270deg);
}


.work {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: left;
}



.work-block{
  position: relative;
  width: 25%;
  margin: 40px 10px;
  /* border: solid 1.5px #5d5d5d; */
  border-radius: 10px;
  box-shadow:0px 0px 7px;
  /* filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6)); */

  transition: all 300ms 0s ease;
}

.to-move-left-clum-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 5px;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,1));
  opacity: 0.4;

  transition: all 300ms 0s ease;
}

.to-move-left-clum-button img{ 
  width: 100%;
  height: 100%;
}

.to-move-left-clum-button:hover {
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,1));
  opacity: 1;
}


/*画像と文字を横に並べる*/
.work-txt {
  /* vertical-align: top; */
  /* display: inline-block; */
  
  width: 100%;
  height: 50%;
}

h3 {
  display: inline-block;
}

h4 {
  color: #4682b4;
  font-style:italic;
  font-size: 11px;
  padding: 2px;
  margin: 0 0px 0 5px;
  display: inline-block;
}

.workImg {
  /* display: inline-block; */
  overflow: hidden;
  width: 100%;
  padding: 5px;
  height: 50%;
}

.workImg img {
  width: 100%;
  
}

.work:after {
  content: "";
  clear: both;
  display: block;
}

.works {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;

  -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

  -ms-flex-pack: distribute;
  justify-content: space-around;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

        -webkit-box-align: stretch;
     -ms-flex-align: stretch;
        align-items: stretch;

  height: 100%;
}

.works input {
  display: none;
}

/* .works .stu0 {
  opacity: 1;
}

.works .stu1 {
  opacity: 0.2;
}

.works .stu2 {
  display: none;
} */

.drop-list{
  position: absolute;
  right: 10px;
  top: 10px;
}


/*createdclum*/
.delete_article ,
.want_read_article  {
  border: 2px solid #2b2b2b;
  margin: 10px 10px;
  padding: 5px;

  transition: all 200ms 0s ease;
}

.now-active-clum .delete_article:hover{
  background: #f8a6a6;
  cursor: pointer;
}

.now-active-clum .want_read_article:hover {
  background: #97aaf7;
  cursor: pointer;
}

.delete_article p,
.want_read_article p {
  margin: 0;
  font-size: 12px;
}

.work-block:not(.now-sort-selected),
.want_read_article:not(.now-sort-selected),
.delete_article:not(.now-sort-selected){
  display: none;
}


/*leftclum*/
.leftclum-wrapper h1 {
  color: #203744;
}

/*読了ボタン*/
.read_finish_button {
  z-index: 2;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: 0px;
  background: #203744;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  text-align: center;
  font-weight: solid;
}

.read_finish_button:hover {
  background: #2d5b75;
}


/*now-activeなコラムスタイル*/
.now-active-clum {
  /* background: #f5f5f5; */
  box-shadow: 0px 0px 10px black;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */
  /* border: 3px solid #2b2b2b; */
  transition: all 200ms 0s ease;
}
.now-active-clum::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.now-active-clum .work-block:hover {
  box-shadow:0px 0px 13px;
  cursor: pointer;
}

.now-active-clum.leftclum-wrapper, .now-active-clum.rightclum-wrapper{
  z-index: 1;
  width: 400px;
  height: calc(100vh - 30px);
  padding-top: 35px;
} 

.now-active-clum.leftclum-wrapper {
  right: 0;
  background-color:rgb(255, 204, 204);
}

.now-active-clum.rightclum-wrapper {
  background-color:rgb(164, 196, 255);
}

/* .no-active-clum.leftclum-wrapper:hover h2, .no-active-clum.rightclum-wrapper:hover h2{
  display: block;
} */

.no-active-clum {
  /* opacity: 1; */
  overflow-y: hidden;
}

.no-active-clum .delete_article, .no-active-clum .want_read_article{
  display: none;
}

/* 
.no-active-clum.rightclum-wrapper:hover{
  background-color: #4682b4;
  transition: all 300ms 0s ease;
}

.no-active-clum.leftclum-wrapper:hover{
  background-color: #dc143c;
  transition: all 300ms 0s ease;
} */

.rightclum-wrapper h2, .leftclum-wrapper h2{
  position: relative;
  font-size: 16px;
  color: #ffffff;
  top: 0;
  margin: 2px auto;
  text-align: center;
  /* display: none; */
}
